In [1]:
#Strings

In [3]:
S = """I am very keen in building up my career in Data Science, 
but not sure from where to start.
If I search the web it throws me thousands of articles, 
few are relevant others make me confused, again I come around to the same page. 
Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"""

In [4]:
print("The length of the above string is " ,len(S))

The length of the above string is  330

In [5]:
strlower = S.lower()
print("The string in lower case looks like :",strlower)

The string in lower case looks like : i am very keen in building up my career in data science,
but not sure from where to start.
if i search the web it throws me thousands of articles,
few are relevant others make me confused, again i come around to the same page.
supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [6]:
print(S)

I am very keen in building up my career in Data Science,
but not sure from where to start.
If I search the web it throws me thousands of articles,
few are relevant others make me confused, again I come around to the same page.
Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [9]:
strwopunc = S.replace('.',' ')
print(strwopunc)

I am very keen in building up my career in Data Science,
but not sure from where to start
If I search the web it throws me thousands of articles,
few are relevant others make me confused, again I come around to the same page
Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [10]:
strwopunc2 = strwopunc.replace(',',' ')
print(strwopunc2)

I am very keen in building up my career in Data Science
but not sure from where to start
If I search the web it throws me thousands of articles
few are relevant others make me confused  again I come around to the same page
Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [16]:
punctuations = '.,'
for i in S:
    if i in punctuations:
        S = S.replace(i,'')
print(S)

I am very keen in building up my career in Data Science
but not sure from where to start
If I search the web it throws me thousands of articles
few are relevant others make me confused again I come around to the same page
Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [19]:
StrDS = S.find('Data Science')
print('The extracted word\'s index is :', StrDS)

The extracted word's index is : 43

In [21]:
print ('The extracted word is',S[43:55])

The extracted word is Data Science

In [23]:
Splitstring  =  S.split()
print(Splitstring)

['I', 'am', 'very', 'keen', 'in', 'building', 'up', 'my', 'career', 'in', 'Data', 'Science', 'but', 'not', 'sure', 'from', 'where', 'to', 'start', 'If', 'I', 'search', 'the', 'web', 'it', 'throws', 'me', 'thousands', 'of', 'articles', 'few', 'are', 'relevant', 'others', 'make', 'me', 'confused', 'again', 'I', 'come', 'around', 'to', 'the', 'same', 'page', 'Supervised', 'has', 'provided', 'me', 'a', 'good', 'platform', 'to', 'remove', 'all', 'such', 'qualms', 'which', 'were', 'wrangling', 'in', 'my', 'mind']

In [24]:
#Frequency of words in string

In [33]:
uniquewrds = set(Splitstring)
for i in uniquewrds:
    print("The count of",i, "is" ,Splitstring.count(i))

The count of page is 1
The count of make is 1
The count of again is 1
The count of web is 1
The count of sure is 1
The count of start is 1
The count of it is 1
The count of remove is 1
The count of mind is 1
The count of of is 1
The count of qualms is 1
The count of same is 1
The count of in is 3
The count of where is 1
The count of up is 1
The count of around is 1
The count of were is 1
The count of If is 1
The count of search is 1
The count of are is 1
The count of very is 1
The count of relevant is 1
The count of not is 1
The count of platform is 1
The count of provided is 1
The count of from is 1
The count of others is 1
The count of Data is 1
The count of me is 3
The count of wrangling is 1
The count of Supervised is 1
The count of good is 1
The count of has is 1
The count of the is 2
The count of throws is 1
The count of to is 3
The count of am is 1
The count of keen is 1
The count of thousands is 1
The count of few is 1
The count of articles is 1
The count of building is 1
The count of such is 1
The count of Science is 1
The count of but is 1
The count of which is 1
The count of come is 1
The count of a is 1
The count of all is 1
The count of I is 3
The count of confused is 1
The count of my is 2
The count of career is 1

In [38]:
for x in Splitstring:
    if Splitstring.count(x)>=2:
        print(x,Splitstring.count(x))

I 3
in 3
my 2
in 3
to 3
I 3
the 2
me 3
me 3
I 3
to 3
the 2
me 3
to 3
in 3
my 2

In [39]:
#Changing Supervised to Unsupervised

In [40]:
Sreplace = S.replace('Supervised','Unsupervised')
print(Sreplace)

I am very keen in building up my career in Data Science
but not sure from where to start
If I search the web it throws me thousands of articles
few are relevant others make me confused again I come around to the same page
Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind

In [43]:
#Split with a dot operation
SSplit = '.'.join(S.split())
print("The string after Split is" ,SSplit)

The string after Split is I.am.very.keen.in.building.up.my.career.in.Data.Science.but.not.sure.from.where.to.start.If.I.search.the.web.it.throws.me.thousands.of.articles.few.are.relevant.others.make.me.confused.again.I.come.around.to.the.same.page.Supervised.has.provided.me.a.good.platform.to.remove.all.such.qualms.which.were.wrangling.in.my.mind

In [49]:
#words ending with 'e'
for x in Splitstring:
    if x.endswith('e'):
        print(x)

Science
sure
where
the
me
are
make
me
come
the
same
page
me
remove
were

In [51]:
C = S.count('a')
print(C)

22

# Dictionaries

In [54]:
#250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.
Dict_groceries = {'apple':250,'sugar':500,'rice':2.5,'milk':2.5,'eggs':12}

In [61]:
Dict_groceries.update({'atta':1})
Dict_groceries

{'apple': 250, 'sugar': 500, 'rice': 2.5, 'milk': 2.5, 'eggs': 12, 'atta': 1}

In [63]:
Dict_groceries['rice'] = 1
Dict_groceries

{'apple': 250, 'sugar': 500, 'rice': 1, 'milk': 2.5, 'eggs': 12, 'atta': 1}

In [67]:
for k,v in Dict_groceries.items():
    print('The value for the Key' , k,'is', v)

The value for the Key apple is 250
The value for the Key sugar is 500
The value for the Key rice is 1
The value for the Key milk is 2.5
The value for the Key eggs is 12
The value for the Key atta is 1

In [69]:
#the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45,
#1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.

In [72]:
Dict_price = {'apple':220,'sugar':43,'rice':45,'milk':30,'eggs':60}
print(Dict_price)
print(Dict_groceries)

{'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'eggs': 60}
{'apple': 250, 'sugar': 500, 'rice': 1, 'milk': 2.5, 'eggs': 12, 'atta': 1}

In [73]:
Dict_Final = {'apple':55,'sugar':21.5,'rice':45,'milk':75,'eggs':60}

In [84]:
print(sum(Dict_Final.values()))

256.5

In [77]:
List_final = list(Dict_Final.values())

In [78]:
List_final

[55, 21.5, 45, 75, 60]

In [83]:
Total_bill = sum(List_final)
print(Total_bill)

256.5

In [149]:
Companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','Sensetime']
print(Companies)

['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'Sensetime']

In [114]:
Companies.sort()

In [115]:
print(Companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'Sensetime']

In [151]:
#Adding to the list
Companies.extend(['Nvidia','OpenAI','Qualcomm','Reliance'])
print(Companies)

['Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'Sensetime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

In [152]:
Lowerlist = [print(i.lower()) for i in Companies]
list(print(i.lower()) for i in Companies)

amazon
facebook
hisilicon
google
apple
microsoft
sensetime
nvidia
openai
qualcomm
reliance

[None, None, None, None, None, None, None, None, None, None, None]

In [154]:
Lowerlist =[]

In [155]:
type(Lowerlist)

list

In [161]:
Lowerlist = [print(i.lower()) for i in Companies]
Lowerlist

amazon
facebook
hisilicon
google
apple
microsoft
sensetime
nvidia
openai
qualcomm

[None, None, None, None, None, None, None, None, None, None]

In [157]:
type(Lowerlist)

list

In [159]:
Companies.remove('Reliance')

In [160]:
Companies

['Amazon',
 'Facebook',
 'HiSilicon',
 'Google',
 'Apple',
 'Microsoft',
 'Sensetime',
 'Nvidia',
 'OpenAI',
 'Qualcomm']

In [163]:
print('Extracting companies from a list using index :',Companies[1:6:2])

Extracting companies from a list using index : ['Facebook', 'Google', 'Microsoft']

# TUPLES

In [165]:
Tuple_price = (('apple',55),('sugar',21.5),('rice',45),('milk',75),('eggs',60))
print(Tuple_price)

(('apple', 55), ('sugar', 21.5), ('rice', 45), ('milk', 75), ('eggs', 60))

In [166]:
type(Tuple_price)

tuple

In [168]:
max(Tuple_price)

('sugar', 21.5)

In [169]:
print(Tuple_price[0])

('apple', 55)

In [185]:
print(max(Tuple_price)[1])

21.5

In [245]:
Z=[]
for item in Tuple_price:
    for y in item:
        if type(y)!= str:
            Z.append(y)
print(Z)
print('The max price of the item is :',max(Z))
print('The min price of the item is :',min(Z))

[55, 21.5, 45, 75, 60]
The max price of the item is : 75
The min price of the item is : 21.5

In [231]:
Companies = ['Amazon','Facebook','HiSilicon','Google','Apple','Microsoft','Sensetime']
type(Companies)

list

In [233]:
print('COnverting a list to Tuple :\n ',tuple(Companies))

COnverting a list to Tuple :
  ('Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'Sensetime')

In [237]:
Company_new =Companies.append('HCL')

In [241]:
len(Companies)

9

In [244]:
len(tuple(Companies) +('infosys',))

10