In [1]:
a=3

In [2]:
print(a)

3

In [3]:
type(a)

int

In [4]:
a

3

In [5]:
x = 12.56
x

12.56

In [6]:
print(x)

12.56

In [7]:
type(x)

float

In [8]:
6 * (7 +9)

96

In [9]:
6*7 + 9

51

In [10]:
x = 7.3

In [11]:
print(x)

7.3

In [12]:
type(x)

float

In [13]:
int(x)

7

In [14]:
type(x)

float

In [15]:
x = int(x)

In [16]:
type(x)

int

In [18]:
round(12345.8768,2)

12345.88

In [19]:
int(0o530)

344

In [20]:
oct(344)

'0o530'

In [21]:
int(0x158)

344

In [22]:
hex(344)

'0x158'

In [23]:
bin(344)

'0b101011000'

In [26]:
Cities = ['Mumbai\'s','Delhi','Pune','Hampshire']

In [27]:
print(Cities)

["Mumbai's", 'Delhi', 'Pune', 'Hampshire']

In [28]:
print(Cities[1])

Delhi

In [29]:
print(Cities[-1])

Hampshire

In [30]:
len(Cities)

4

In [11]:
List_a = [1,2,3,4]
List_b = [2,3,4,5]
K = [i for i in List_a if i%2==0]
Y = [i for i in List_b if i%2!=0]
Y,K

([3, 5], [2, 4])

In [7]:
for i in List_a:
    if i%2 ==0:
        print(i)

2
4

In [14]:
List_a =[7,5,56,66,75,23,0,6789,43,1]

In [19]:
List_a.sort()
List_a
List_a.sort(reverse =True)
List_a

[6789, 75, 66, 56, 43, 23, 7, 5, 1, 0]

In [20]:
List_a.pop()
List_a

[6789, 75, 66, 56, 43, 23, 7, 5, 1]

In [23]:
List_a.pop(0)

6789

In [24]:
List_a

[75, 66, 56, 43, 23, 7, 5, 1]

In [25]:
List_a.remove(75)

In [26]:
List_a

[66, 56, 43, 23, 7, 5, 1]

In [29]:
List_a.sort()
List_a

[1, 5, 7, 23, 43, 56, 66]

In [32]:
List_a.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [33]:
sorted(List_a)

[1, 5, 7, 23, 43, 56, 66]

In [34]:
List_a

[1, 5, 7, 23, 43, 56, 66]

In [36]:
List_a.pop(0)

1

In [39]:
List_a.remove(23)

In [40]:
List_a

[5, 7, 43, 56, 66]

In [42]:
List_a.index(43)

2

In [44]:
List_a.insert(58,4)

In [45]:
List_a

[5, 7, 43, 56, 66, 4]

In [46]:
#Tuples
(3,4)+(5,6)

(3, 4, 5, 6)

In [47]:
(1,2)* 4

(1, 2, 1, 2, 1, 2, 1, 2)

In [48]:
t1 = ('Man','Woman','Dog')

In [50]:
type(t1)

tuple

In [51]:
max(t1)

'Woman'

In [52]:
min(t1)

'Dog'

In [53]:
sum(t1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
len(t1)

3

In [55]:
for i in t1:
    print(i)

Man
Woman
Dog

In [56]:
t = (1,2,3,4,5,6)

In [57]:
2 in t

True

In [58]:
10 in t

False

In [59]:
t1 = (4,5,6)
t1[0]

4

In [60]:
t1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [61]:
t1.replace()

AttributeError: 'tuple' object has no attribute 'replace'

In [62]:
List(t1)

NameError: name 'List' is not defined

In [64]:
a = list(t1)

In [65]:
a

[4, 5, 6]

In [66]:
a[0] = 1

In [67]:
a

[1, 5, 6]

In [68]:
tuple(a)

(1, 5, 6)

In [69]:
t1

(4, 5, 6)

In [80]:
t3 = t1[1:]

In [75]:
t2 = (1,)

In [81]:
t2 + t3

(1, 5, 6)

In [82]:
#Strings

In [83]:
"spa'm"

"spa'm"

In [84]:
'spa"m'

'spa"m'

In [85]:
""...spam...""

SyntaxError: invalid syntax (<ipython-input-85-13b1c2210a11>, line 1)

In [87]:
S = 'a\nb\tc'
S

'a\nb\tc'

In [88]:
print(S)

a
b	c

In [90]:
x = 'a\nb\x1f\000d'
print(x)

a
b d

In [92]:
S1 = 'hello how are you'
s2 = """Hello
        how
          are you"""
print(S1)
print(s2)

hello how are you
Hello
        how
          are you

In [93]:
s2

'Hello\n        how\n          are you'

In [94]:
S1

'hello how are you'

Indexing and Slicing of strings

In [2]:
S = "Hello! How are you?"
print("The first occurence of a in the string is :",S.index("a"))

The first occurence of a in the string is : 11

In [3]:
print("The first five characters are :",S[:5])

The first five characters are : Hello

In [4]:
print("The fifth to tenth character are :",S[5:10])

The fifth to tenth character are : ! How

In [6]:
print("the eleventh character in the string is",S[11])

the eleventh character in the string is a

In [24]:
for i in S:
    print("The index of", i ,"is",S.find(i))

The index of H is 0
The index of e is 1
The index of l is 2
The index of l is 2
The index of o is 4
The index of ! is 5
The index of   is 6
The index of H is 0
The index of o is 4
The index of w is 9
The index of   is 6
The index of a is 11
The index of r is 12
The index of e is 1
The index of   is 6
The index of y is 15
The index of o is 4
The index of u is 17
The index of ? is 18

In [11]:
 print("The odd characters in the string are : ",S[1::2])

The odd characters in the string are :  el!Hwaeyu

In [15]:
print("The last 5 characters are :",S[-5:])

The last 5 characters are :  you?

In [21]:
y = S[:5] +" "+ 'yell'+" " + S[7:]
print(y)

Hello yell How are you?

In [22]:
k = 10
y = S[:5] +" "+ str(k)+" " + S[7:]
print(y)

Hello 10 How are you?

In [23]:
S.replace("re","ab")

'Hello! How aab you?'

In [25]:
Lst = ['A','B','C']

In [26]:
join_str = ' '.join(Lst)

In [27]:
join_str

'A B C'

In [29]:
splitstring = "I am new to Python"
splitstring = splitstring.split()
splitstring

['I', 'am', 'new', 'to', 'Python']

In [31]:
splitstring = "I am new to Python                                                                   "
splitstring.rstrip()

'I am new to Python'

In [40]:
S ="IamnewtoPython"

In [33]:
S.upper()

'I AM NEW TO PYTHON'

In [34]:
S.lower()

'i am new to python'

In [41]:
S.isalpha()

True

In [38]:
S.endswith('on')

True

In [39]:
S.endswith('sfasf')

False

In [42]:
String_var = """ This document will help you to explore all the concepts of Python Strings!!! """

In [56]:
print("The result of slicing is:",String_var[7:-4])

The result of slicing is: ocument will help you to explore all the concepts of Python Strings

In [57]:
String_var = String_var.replace("document","task")
print("The string after replacement is:",String_var)

The string after replacement is:  This task will help you to explore all the concepts of Python Strings!!!

In [58]:
String_var = String_var.split()
print("String after splitting with Space :",String_var)

String after splitting with Space : ['This', 'task', 'will', 'help', 'you', 'to', 'explore', 'all', 'the', 'concepts', 'of', 'Python', 'Strings!!!']

In [60]:
String_var = """ This document will help you to explore all the concepts of Python Strings!!! """
print("The entire string converted to lower case looks like this :",String_var.lower())

The entire string converted to lower case looks like this :  this document will help you to explore all the concepts of python strings!!!

In [61]:
String_var = ''.join(e for e in String_var if e.isalnum())
String_var

'ThisdocumentwillhelpyoutoexplorealltheconceptsofPythonStrings'

In [62]:
String_var.isalpha()

True

In [63]:
String_var.endswith('S')

False

In [67]:
str_new = 'It was a %s day in %s with %d cm of rain' % ('rainy','west',130)
print(str_new)

It was a rainy day in west with 130 cm of rain

## Dictionaries

In [68]:
Dict = {21:'ftp',22:'sftp',23:'default',80:'Http',443:'Https',1433:'SQL',135:'COM',5000 :'MSDTC'}

In [69]:
print(Dict[21])

ftp

In [73]:
print(Dict.get(21))

ftp

In [74]:
print(Dict.items())

dict_items([(21, 'ftp'), (22, 'sftp'), (23, 'default'), (80, 'Http'), (443, 'Https'), (1433, 'SQL'), (135, 'COM'), (5000, 'MSDTC')])

In [75]:
print(Dict.keys())

dict_keys([21, 22, 23, 80, 443, 1433, 135, 5000])

In [76]:
print(Dict.values())

dict_values(['ftp', 'sftp', 'default', 'Http', 'Https', 'SQL', 'COM', 'MSDTC'])

In [78]:
for k,v in Dict.items():
    if k>=23:
        print(Dict[k])

default
Http
Https
SQL
COM
MSDTC

In [100]:
for values in Dict.values():
    print(Dict.get())

TypeError: get expected at least 1 arguments, got 0

In [97]:
Key = Dict.values()
Key

dict_values(['ftp', 'sftp', 'default', 'Http', 'Https', 'SQL', 'COM', 'MSDTC'])

In [104]:
Dict.keys()

dict_keys([21, 22, 23, 80, 443, 1433, 135, 5000])

In [105]:
Dict[keys]

NameError: name 'keys' is not defined

In [119]:
for v in Dict.values():
    print(List(v).keys())

TypeError: 'list' object is not callable

In [109]:
D = dict(zip(['a','b','c'],[1,2,3]))
print(D)

{'a': 1, 'b': 2, 'c': 3}

In [110]:
D= {x:x**2 for x in (1,2,3,4)}
print(D)

{1: 1, 2: 4, 3: 9, 4: 16}

In [111]:
D ={k:v for (k,v) in zip(['a','b','c'],[1,2,3])}
print(D)

{'a': 1, 'b': 2, 'c': 3}

In [113]:
D ={C:C*4 for C in 'EMAIL'}
print(D)

{'E': 'EEEE', 'M': 'MMMM', 'A': 'AAAA', 'I': 'IIII', 'L': 'LLLL'}

In [120]:
D = {x:x*4 for x in (1,2,3,4)}
print(D)

{1: 4, 2: 8, 3: 12, 4: 16}

In [125]:
X = 103
if (X % 2 ==0):
    print('even')
else:
    print('Odd')

Odd

In [126]:
input = 'Enter a number'
if (input % 2 ==0):
    print('even')
else:
    print('Odd')

TypeError: not all arguments converted during string formatting

In [127]:
input = 'enter a mumber: '

In [131]:
if (x % 2 ==0):
    print('even')
else:
    print('Odd')

TypeError: 'str' object is not callable

In [137]:
#x =  list(range(100))
#for x in enumerate(x,100):
    
      #  print(x)

In [140]:
D = { X:X*4 for X in (2,3,4,5)}
print(D)

for D in enumerate(D):
    print(D)

{2: 8, 3: 12, 4: 16, 5: 20}
(0, 2)
(1, 3)
(2, 4)
(3, 5)